---
import type { InferGetStaticParamsType } from 'astro'
import { Icon } from 'astro-icon/components'
import Toolbar from '../../components/Toolbar.astro'
import Article from '../../components/Article.astro'
import Layout from '../../layouts/Layout.astro'
import { getArticle, getArticles } from '@/sanity/queries'

export async function getStaticPaths() {
  const articles = await getArticles()
  return articles.map((article: any) => ({
    params: { number: article.number.toString() },
  }))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { number } = Astro.params as Params
if (!number) return Astro.redirect('/404')

const article = await getArticle(parseInt(number))
if (!article) return Astro.redirect('/404')

const references = [article.title.name.de]

if (article.chapter?.number && article.chapter?.name) {
  references.push(article.chapter.name.de)
}

if (article.section?.number && article.section?.name) {
  references.push(article.section.name.de)
}

/*
function textSize(index: Number) {
  if (index === 0) return 'text-lg'
  if (index === 1) return 'text-xl'
  return 'text-2xl'
}
  */
---

<Layout title={'Artikel ' + article.number}>
  <div x-data="$store.toolbar">
    <Toolbar number={article.number} />
    <div class="mx-auto mt-12 mb-24 max-w-7xl">
      <ol>
        {
          references.map((ref, index) => (
            <li class="flex flex-col items-center font-semibold">
              <a
                href="#"
                class={index !== references.length - 1 ? 'text-lg' : 'text-2xl'}
              >
                {ref}
              </a>
              {index !== references.length - 1 && (
                <Icon name="mdi:chevron-down" class="text-xl text-gray-500" />
              )}
            </li>
          ))
        }
      </ol>
      <Article article={article} />
    </div>
  </div>
</Layout>
