---
import Layout from '../../layouts/Layout.astro'
import { getArticlesLinks } from '../../utils/sanity'

const articles = await getArticlesLinks()
---

<Layout title="Inhaltsverzeichnis">
  <div class="max-w-xl mx-auto mt-4">
    <h2 class="text-xl font-semibold mb-4">Inhaltsverzeichnis</h2>
    <ul>
      {
        articles.map((art) => (
          <li>
            <a href={`/artikel/${art.number}`} class="hover:underline">
              Art. {art.number} {art.name.de}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
