---
import Tooltip from '@/components/Tooltip.astro'
---

<table class="law-table">
  <thead>
    <tr>
      <th rowspan="3" style="text-align: left">Funktion</th>
      <th colspan="4">Präskriptives Nachweisverfahren</th>
      <th rowspan="3">
        Rechnerischer Nachweis einer im präskriptiven Nachweis geforderten
        Leistung gemäss <a href="#_Toc215131673">Art. 22</a>
      </th>
      <th rowspan="3">
        Einsatz von leistungs- oder risikobasierten Nachweisverfahren
      </th>
    </tr>
    <tr>
      <th colspan="4">Vollzugsklasse</th>
    </tr>
    <tr>
      <th>VK 1</th>
      <th>VK 2</th>
      <th>VK 3</th>
      <th>VK 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">Fachplanung Brandschutz</td>
      <td>Selbstdeklaration</td>
      <td>Brandschutzfachmann Brandschutzfachfrau</td>
      <td>Brandschutzfachmann Brandschutzfachfrau</td>
      <td>Brandschutzexpertin Brandschutzexperte</td>
      <td>Brandschutzfachmann Brandschutzfachfrau</td>
      <td>Brandschutzexpertin Brandschutzexperte</td>
    </tr>
    <tr>
      <td style="text-align: left">Nachweisführung</td>
      <td>Selbstdeklaration</td>
      <td>Selbstdeklaration</td>
      <td>Selbstdeklaration</td>
      <td>Selbstdeklaration</td>
      <td>Selbstdeklaration</td>
      <td>Selbstdeklaration</td>
    </tr>
  </tbody>
</table>
