---
import Tooltip from '@/components/Tooltip.astro'
---

<table class="law-table">
  <thead>
    <tr>
      <td rowspan="2">
        <p>Bst.</p>
      </td>
      <td rowspan="2">
        <p>System</p>
      </td>
      <td rowspan="2">
        <p>Systemeigenschaft</p>
      </td>
      <td rowspan="2">
        <p>P <Tooltip message="Schutzgut Personen" /></p>
      </td>
      <td rowspan="2">
        <p>G <Tooltip message="Schutzgut Gebäude" /></p>
      </td>
      <td colspan="4">
        <p class="text-center">
          Kriterium für die notwendige Feuerwiderstandsdauer des Tragwerks
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text-center">keine Anforderung</p>
      </td>
      <td>
        <p class="text-center">R 30</p>
      </td>
      <td>
        <p class="text-center">R 60</p>
      </td>
      <td>
        <p class="text-center">R 90</p>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>a.</p>
      </td>
      <td>
        <p>Gebäudeteil</p>
      </td>
      <td>
        <p>Gesamthöhe</p>
      </td>
      <td>
        <p>—</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p class="text-center">≤ 100 m</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>b.</p>
      </td>
      <td>
        <p>Gebäudeteil</p>
      </td>
      <td>
        <p>Gebäude mit 1 Geschoss über Terrain</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p>—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">≤ 11 m</p>
      </td>
      <td>
        <p class="text-center">
          &gt; 11 bis <br />
          ≤ 30 m
        </p>
      </td>
      <td>
        <p class="text-center">
          &gt; 30 bis <br />
          ≤ 100 m
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>c.</p>
      </td>
      <td>
        <p>Gebäudeteil</p>
      </td>
      <td>
        <p>Gesamthöhe</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p>—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">≤ 30 m</p>
      </td>
      <td>
        <p class="text-center">
          &gt; 30 bis <br />
          ≤ 100 m
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>d.</p>
      </td>
      <td>
        <p>Gebäudeteil</p>
      </td>
      <td>
        <p>Gebäude mit ≥ 2 Geschossen über Terrain</p>
        <p>Nutzergruppen A, B, C, D, E, H</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p>—</p>
      </td>
      <td>
        <p class="text-center">≤ 20 Personen</p>
      </td>
      <td>
        <p class="text-center">&gt; 20 Personen</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>e.</p>
      </td>
      <td>
        <p>Gebäudeteil</p>
      </td>
      <td>
        <p>Gesamthöhe</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p class="text-center">≤ 30 m</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">&gt; 30 m</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>f.</p>
      </td>
      <td>
        <p>Brandabschnitt</p>
      </td>
      <td>
        <p>Gebäude mit ≥ 2 Geschossen über Terrain</p>
        <p>Nutzergruppe F, G, I</p>
      </td>
      <td>
        <p>—</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">≤ 11 m</p>
      </td>
      <td>
        <p class="text-center">
          &gt; 11 bis <br />
          ≤ 30 m
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>g.</p>
      </td>
      <td>
        <p>Raum</p>
      </td>
      <td>
        <p>Anzahl Personen</p>
      </td>
      <td>
        <p>X</p>
      </td>
      <td>
        <p>—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
      <td>
        <p class="text-center">&gt; 1'000 Personen</p>
      </td>
      <td>
        <p class="text-center">—</p>
      </td>
    </tr>
  </tbody>
</table>
