---
import type { langKeys } from '@/i18n/utils'

import Layout from '@/layouts/Layout.astro'
import { getTitles } from '@/utils/sanity'
import { staticPaths } from '@/i18n/utils'
import { getLocaleTitle } from '@/i18n/utils'

export function getStaticPaths() {
  return staticPaths
}

const lang = Astro.params.lang as langKeys

const titles = await getTitles()
---

<Layout title="Startseite">
  <div class="mt-32 grid place-content-center">
    <ul>
      {
        titles.map((title) => (
          <li>
            <a href={`/${lang}/titel/${title.number}/`}>
              {getLocaleTitle(title, lang)}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
