---
import BasicRichText from '@/components/portable-text/BasicRichText.astro'

import type { langKeys } from '@/i18n/utils'

import Layout from '@/layouts/Layout.astro'
import { getTitles } from '@/sanity/queries'
import { staticLocalePaths } from '@/i18n/utils'
import { formatHeading } from '@/i18n/utils'

export function getStaticPaths() {
  return staticLocalePaths()
}

const lang = Astro.currentLocale as langKeys

const titles = await getTitles()
---

<Layout title="Titel">
  <div class="mt-18 mb-32 px-24">
    <ul class="mx-auto flex max-w-3xl flex-col gap-y-8">
      {
        titles.map((title: any) => (
          <li
            class="rounded-md border-4 px-6 py-5"
            style={`border-color: ${title.color?.hex}`}
          >
            <h2 class="text-lg font-semibold">
              <a
                href={`/${lang}/titel/${title.number}/`}
                class="cursor-pointer underline"
              >
                {formatHeading(title, lang)}
              </a>
            </h2>
            <div class="mt-2">
              <BasicRichText blocks={title?.desc?.de ?? []} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
