---
import { PortableText } from 'astro-portabletext'

import type { langKeys } from '@/i18n/utils'

import Layout from '@/layouts/Layout.astro'
import { getTitles } from '@/utils/sanity'
import { staticPaths } from '@/i18n/utils'
import { getLocaleTitle } from '@/i18n/utils'

export function getStaticPaths() {
  return staticPaths
}

const lang = Astro.params.lang as langKeys

const titles = await getTitles()
---

<Layout title="Titel">
  <div class="mt-18 mb-32 px-24">
    <nav class="mx-auto flex max-w-2xl flex-col gap-4">
      {
        titles.map((title) => (
          <a
            href={`/${lang}/titel/${title.number}/`}
            class="cursor-pointer p-4 text-white"
            style={`background-color: ${title.color?.hex}`}
          >
            <h2 class="text-lg font-semibold">{getLocaleTitle(title, lang)}</h2>
            <PortableText value={title?.desc?.de || []} />
          </a>
        ))
      }
    </nav>
  </div>
</Layout>
