---
import SimpleEditor from '@/components/portable-text/SimpleEditor.astro'

import type { langKeys } from '@/i18n/utils'

import Layout from '@/layouts/Layout.astro'
import { getTitles } from '@/sanity/queries'
import { staticPaths } from '@/i18n/utils'
import { formatHeading } from '@/i18n/utils'

export function getStaticPaths() {
  return staticPaths
}

const lang = Astro.params.lang as langKeys

const titles = await getTitles()
---

<Layout title="Titel">
  <div class="mt-18 mb-32 px-24">
    <ul class="mx-auto flex max-w-2xl flex-col gap-4">
      {
        titles.map((title) => (
          <li
            class="p-4 text-white"
            style={`background-color: ${title.color?.hex}`}
          >
            <h2 class="cursor-pointer text-lg font-semibold underline">
              <a href={`/${lang}/titel/${title.number}/`}>
                {formatHeading(title, lang)}
              </a>
            </h2>
            <SimpleEditor blocks={title?.desc?.de ?? []} />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
