@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: oklch(27.9% 0.041 260.031);
  --color-accent: oklch(43.8% 0.218 303.724);
}

[x-cloak] {
  display: none !important;
}

@counter-style superscript-numbers {
  system: numeric;
  symbols: '⁰' '¹' '²' '³' '⁴' '⁵' '⁶' '⁷' '⁸' '⁹';
  suffix: ''; /* Space after the number. Not needed here. */
}

.c-law > ol:first-child {
  list-style: superscript-numbers;
  padding-inline-start: 0.3rem;
}

.c-law p + ol {
  list-style-type: lower-alpha; /* For cases where an article contains only 1 alinea */
}

.c-law ol ol {
  list-style-type: lower-alpha; /* Second-level uses lower-alpha */
}

.c-law ol ol ol {
  list-style-type: decimal; /* Third-level goes back to numbers */
}

.c-law tbody tr:hover {
  background-color: #f1f5f9;
}
