@import 'tailwindcss';
@import './katex.css';
@import 'tippy.js/dist/tippy.css';

@theme {
  --color-primary: var(--color-slate-800);
  --color-table: #dabbcb;
  --color-table-light: #ecdde5;
  --color-surface: #f4faff;
  --color-law: #0a3747;
  --color-outline: #5a8092;

  --text-xxs: 0.625rem;
}

@theme inline {
  --font-sans: var(--font-public-sans);
  --font-serif: var(--font-newsreader);
}

@layer components {
  .law-table {
    @apply w-full border-collapse overflow-x-auto border border-slate-200;
  }

  .law-table thead {
    @apply bg-blue-50;
  }

  .law-table thead tr:first-child {
    @apply bg-slate-100;
  }

  .law-table thead th {
    @apply border border-slate-200 px-3 py-2 text-left font-bold text-primary;
  }

  .law-table tbody {
    @apply divide-y divide-slate-200;
  }

  .law-table tbody tr {
    @apply transition-colors even:bg-slate-50/50 hover:bg-slate-200/50;
  }

  .law-table tbody td {
    @apply border border-slate-200 px-3 py-2;
  }
}

/* https://alpinejs.dev/directives/cloak */
[x-cloak] {
  display: none !important;
}

p:empty {
  display: none;
}
