---
import Layout from '@/layouts/Layout.astro'
import { getArticlesFromTitle, getTitles } from '@/sanity/queries'
import { formatHeading } from '@/i18n/utils'
import { getLocale } from 'astro-i18n-aut'
const locale = getLocale(Astro.url) as LangKeys

export async function getStaticPaths() {
  const titles = await getTitles()
  return titles.map((title) => ({
    params: { number: title.slug.current },
  }))
}

const { number } = Astro.params

const articles = await getArticlesFromTitle(number)

const heading = formatHeading({ number, type: 'title' }, locale)
---

<Layout title={heading}>
  <div>
    <h1 class="mt-4 text-center text-5xl font-semibold">
      {heading}
    </h1>
    <ul>
      {articles.map((article) => <li>{article.name[locale]}</li>)}
    </ul>
  </div>
</Layout>
