---
import BasicRichText from '@/components/portable-text/BasicRichText.astro'
import Layout from '@/layouts/Layout.astro'
import { getTitles } from '@/sanity/queries'
import { formatTitle } from '@/i18n/utils'
import { getLocale, getLocaleUrl } from 'astro-i18n-aut'

const locale = getLocale(Astro.url) as LangKeys
const titles = await getTitles()
---

<Layout title="Titel">
  <div class="mt-18 mb-32 px-24">
    <ul class="mx-auto flex max-w-3xl flex-col gap-y-8">
      {
        titles.map((title) => (
          <li
            class="rounded-md border-4 px-6 py-5"
            style={`border-color: ${title.color?.hex}`}
          >
            <h2 class="text-lg font-semibold">
              <a
                href={getLocaleUrl(`/t/${title.number}`, locale)}
                class="cursor-pointer underline"
              >
                {title.number}. Titel: {title.name.de}
              </a>
            </h2>
            <div class="mt-2">
              <BasicRichText blocks={title.desc?.de ?? []} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
