---
import BasicRichText from '@/components/portable-text/BasicRichText.astro'
import PageIndex from '@/layouts/PageIndex.astro'
import { getTitles } from '@/sanity/queries'
import { formatTitle } from '@/i18n/utils'
import { getLocale, getLocaleUrl } from 'astro-i18n-aut'

const locale = getLocale(Astro.url) as LangKeys
const titles = await getTitles()
---

<PageIndex title="Titel-Übersicht">
  <ol class="space-y-8">
    {
      titles.map((title) => (
        <li class="relative cursor-pointer rounded-lg border border-slate-300 bg-white p-6 transition-colors hover:border-slate-500">
          <a
            href={getLocaleUrl(`/t/${title.number}`, locale)}
            class="after:absolute after:inset-0 after:z-0"
          >
            <h2>
              <span class="block font-mono text-sm text-slate-600">
                {title.number}.Titel
              </span>
              <span class="mt-1 block text-lg font-semibold">
                {title.name.de}
              </span>
            </h2>
            <div class="mt-2 leading-relaxed text-slate-700">
              <BasicRichText blocks={title.desc?.de ?? []} />
            </div>
          </a>
        </li>
      ))
    }
  </ol>
</PageIndex>
