---
import Layout from '@/layouts/Layout.astro'

/* const lang  = Astro.currentLocale */
---

<Layout title="Anfragen">
  <div class="mt-32 grid place-content-center">
    <h1 class="mb-8 text-center text-5xl font-semibold text-slate-800">
      Anfragen
    </h1>
  </div>
</Layout>
