---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Chatbot">
  <div class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-lg mt-10" x-data="chatbot">
    <h1 class="text-2xl font-bold text-center mb-4">BSV Chatbot</h1>

    <div class="mb-4">
      <label for="query" class="block text-sm font-medium text-gray-700"
        >Ihre Frage zu den BSV 2026</label
      >
      <input
        type="text"
        id="query"
        x-model="query"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        placeholder="Frage eintippen..."
      />
    </div>

    <button
      type="button"
      @click="submitQuery"
      :disabled="loading"
      class="w-full py-2 px-4 bg-primary hover:bg-accent transition-700 ease-out text-white focus:outline-none focus:ring-2 focus:ring-blue-400 disabled:bg-gray-500"
    >
      <span x-show="!loading">BSV Chatbot fragen</span>
      <span x-show="loading">Einen Augenlick...</span>
    </button>

    <div class="mt-6" x-show="question">
      <h2 class="text-xl font-semibold sr-only">Frage:</h2>
      <p class="text-sm text-gray-600" x-text="question"></p>
    </div>

    <div class="mt-2" x-show="response">
      <h2 class="text-xl font-semibold sr-only">Antwort:</h2>
      <p class="text-gray-800 mt-2 whitespace-pre-line" x-text="response"></p>
    </div>

    <div class="mt-6 text-red-600" x-show="error">
      <h2 class="text-xl font-semibold">Fehler:</h2>
      <p class="mt-2" x-text="error"></p>
    </div>
  </div>
</Layout>

<script>
  document.addEventListener('alpine:init', () => {
    window.Alpine.data('chatbot', () => ({
      query: '',
      response: '',
      error: '',
      loading: false,
      question: '',
      async submitQuery() {
        if (!this.query) {
          this.error = 'Bitte geben Sie eine Frage ein.'
          return
        }

        this.loading = true
        this.response = ''
        this.error = ''
        this.question = ''

        try {
          const res = await fetch('/.netlify/functions/chatbot', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({prompt: this.query}),
          })

          if (!res.ok) {
            const errorData = await res.json()
            this.error = errorData.error || 'Ein Fehler ist aufgetreten.'
            console.error(this.error)
            return
          }

          const data = await res.json()
          this.response = data.reply || 'Sorry, ich konnte keine Antwort finden.'
          this.question = this.query
          this.query = '' // Reset query on success
        } catch (err) {
          console.error(err)
          this.error =
            'Ein unerwarteter Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.'
        } finally {
          this.loading = false
        }
      },
    }))
  })
</script>
