---
import Article from '../components/Article.astro'
import Toolbar from '../components/Toolbar.astro'
import Layout from '../layouts/Layout.astro'
import {getArticles} from '../utils/sanity'
import SideNav from '../components/SideNav.astro'

const articles = await getArticles()
---

<Layout title="Gesamtwerk">
  <header>
    <h1 class="text-2xl font-semibold m-4">
      <a href="/" class="hover:underline">DIGITALE BSV 2026</a>
    </h1>
  </header>
  <div class="c-grid-wrapper">
    <div class="c-sidenav">
      <SideNav />
    </div>
    <div x-data="$store.toolbar" class="c-main mb-24">
      <Toolbar />
      <section class="mx-auto max-w-7xl">
        {articles.map((article) => <Article article={article} />)}
      </section>
    </div>
  </div>
</Layout>

<style>
  .c-grid-wrapper {
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-areas: 'sidenav main';
  }

  .c-main {
    grid-area: 'main';
  }

  .c-sidenav {
    grid-area: 'sidenav';
  }
</style>
