---
import { defaultLang } from '@/i18n/ui'
---

<html>
  <head>
    <!-- Fallback meta redirect for non-JS browsers -->
    <meta http-equiv="refresh" content={`0; URL=/${defaultLang}/`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to the default locale...</p>
  </body>
</html>
