---
import Article from '../components/Article.astro'
import Layout from '../layouts/Layout.astro'
import { getArticles } from '../utils/sanity'

const articles = await getArticles()
---

<Layout title="BSV 2026">
  <div x-data="{ languages: ['de', 'fr']}">
    <input type="checkbox" value="de" x-model="languages" />
    <input type="checkbox" value="fr" x-model="languages" />
    <input type="checkbox" value="it" x-model="languages" />

    <section class="mx-auto max-w-7xl">
      {articles.map((article) => <Article article={article} />)}
    </section>
  </div>
</Layout>
