---
import Article from '../components/Article.astro'
import Layout from '../layouts/Layout.astro'
import { getArticles } from '../utils/sanity'

const articles = await getArticles()
---

<Layout title="BSV 2026">
  <div>
    <div x-data="{ colors: []}">
      <input type="checkbox" value="red" x-model="colors" />
      <input type="checkbox" value="orange" x-model="colors" />
      <input type="checkbox" value="yellow" x-model="colors" />

      Colors: <span x-text="colors"></span>
    </div>
    <section class="mx-auto max-w-7xl">
      {articles.map((article) => <Article article={article} />)}
    </section>
  </div>
</Layout>
