---
import Layout from '../layouts/Layout.astro'

const mainNav = [
  { text: 'Gesamtwerk', link: 'gesamtwerk' },
  { text: 'Inhaltsverzeichnis', link: 'inhaltsverzeichnis' },
  { text: 'Themen', link: 'themen' },
  { text: 'BSV Chatbot', link: 'bsv-chatbot' },
]
---

<Layout title="BSV 2026">
  <nav class="grid grid-cols-2 gap-2">
    {
      mainNav.map((item) => (
        <a href={item.link} class="bg-slate-800 text-white p-8 text-center">
          {item.text}
        </a>
      ))
    }
  </nav>
</Layout>
