---
import Layout from '@/layouts/Layout.astro'
import Search from 'astro-pagefind/components/Search'
import { useTranslations } from '@/i18n/utils'
import { getLocale } from 'astro-i18n-aut'

const locale = getLocale(Astro.url) as LangKeys

const t = useTranslations(locale)
---

<Layout title="Startseite">
  <div class="mt-24 grid place-content-center">
    <h1
      class="mx-auto mb-16 block max-w-2xl text-center text-5xl/16 font-semibold"
    >
      {t('home.title')}
    </h1>
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
  </div>
</Layout>
