---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Startseite">
  <div class="mt-32 grid place-content-center">
    <h1 class="mb-8 text-center text-5xl font-semibold text-slate-800">
      Digitale Schweizerische <br /> Brandschutzvorschriften 2026
    </h1>

    <div>TODO: list all features</div>
  </div>
</Layout>
