---
import Article from '../components/Article.astro'
import Layout from '../layouts/Layout.astro'
import { getArticles } from '../utils/sanity'

const articles = await getArticles()
---

<Layout title="Welcome to Astro.">
  <section>
    {articles.map((article) => <Article article={article} />)}
  </section>
</Layout>
