---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Themen">
  <div class="mx-auto prose">
    <h1>Themen</h1>
    <p>
      Hier werden die BSV-Artikel nach Themen geordnet, z.B. alle Artikel zum
      Thema "Wärmetechnische Anlagen.
    </p>
  </div>
</Layout>
