---
import { urlFor } from '@/sanity/sanityImage'

const { name, number, img } = Astro.props.node.markDef

const url = urlFor(img.asset).quality(90).auto('format').url()
---

<span x-data="{ open: false }">
  <!-- Trigger -->

  <button
    type="button"
    @click="open = true"
    class="inline-block cursor-pointer underline"
  >
    <slot />
  </button>

  <!-- Modal -->
  <template x-teleport="body">
    <div
      x-show="open"
      style="display: none"
      x-on:keydown.escape.prevent.stop="open = false"
      role="dialog"
      aria-modal="true"
      x-id="['modal-title']"
      :aria-labelledby="$id('modal-title')"
      class="fixed inset-0 z-10 overflow-y-auto"
    >
      <!-- Overlay -->
      <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black/25">
      </div>

      <!-- Panel -->
      <div
        x-show="open"
        x-transition
        x-on:click="open = false"
        class="relative flex min-h-screen items-center justify-center p-4"
      >
        <div
          x-on:click.stop
          x-trap.noscroll.inert="open"
          class="relative min-w-96 rounded-xl bg-white p-6 shadow-lg"
        >
          <!-- Title -->
          <h2 class="font-medium text-gray-800" :id="$id('modal-title')">
            Confirm
          </h2>

          <!-- Content -->

          <figure>
            <figcaption class="text-center text-lg font-semibold">
              {name}
            </figcaption>
            <img src={url} alt={img.alt} class="max-h-[80vh] max-w-[80vw]" />
          </figure>
        </div>
      </div>
    </div>
  </template>
</span>
