---
import { X, Fullscreen } from '@lucide/astro'
import { urlFor } from '@/sanity/sanityImage'

const { name, number, img } = Astro.props.node.markDef

const url = urlFor(img.asset).quality(90).auto('format').url()
---

<span x-data="{ open: false }">
  <!-- Trigger -->

  <button
    type="button"
    @click="open = true"
    class="inline-flex cursor-pointer items-center underline"
  >
    <slot />
    <Fullscreen class="ml-1 h-5 w-5" />
  </button>

  <!-- Modal -->
  <template x-teleport="body">
    <div
      x-show="open"
      style="display: none"
      @keydown.escape.prevent.stop="open = false"
      role="dialog"
      aria-modal="true"
      aria-labelledby={name}
      class="fixed inset-0 z-10 overflow-y-auto"
    >
      <!-- Overlay -->
      <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black/25">
      </div>

      <!-- Panel -->
      <div
        x-show="open"
        x-transition
        @click="open = false"
        class="relative flex min-h-screen items-center justify-center p-4"
      >
        <div
          @click.stop
          x-trap.noscroll.inert="open"
          class="relative min-w-96 rounded-xl bg-white p-6 shadow-lg"
        >
          <!-- Content -->
          <div class="flex justify-end">
            <button
              type="button"
              @click="open = false"
              class="focus-visible:outline-2"
            >
              <X />
            </button>
          </div>
          <figure>
            <figcaption class="text-center text-lg font-semibold">
              {name}
            </figcaption>
            <img
              src={url}
              alt={img.alt}
              class="mt-2 max-h-[80vh] max-w-[80vw]"
            />
          </figure>
        </div>
      </div>
    </div>
  </template>
</span>
