---
import type { BlockContent } from '../utils/sanity'
import { PortableText } from 'astro-portabletext'
interface Props {
  title: string
  law: BlockContent
  exp?: BlockContent
}

const { title, exp, law } = Astro.props
---

<h2 class="mt-0">{title}</h2>
<PortableText value={law} />
{exp && <PortableText value={exp} />}
