---
import type { Article } from '../utils/sanity'
interface Props {
  articles: Article[]
}

const { articles } = Astro.props
---

<ul class="text-xs ms-4 space-y-2">
  {
    articles.map((art: Article) => (
      <li>
        <a href={`#art-${art.number}`}>
          Art.&nbsp;{art.number}&nbsp;{art.name.de}
        </a>
      </li>
    ))
  }
</ul>
