---
const { articles } = Astro.props
---

<ul class="ms-4 space-y-2 text-xs">
  {
    articles.map((art: any) => (
      <li>
        <a href={`#art-${art.number}`}>
          Art.&nbsp;{art.number}&nbsp;{art.name.de}
        </a>
      </li>
    ))
  }
</ul>
