<div
  x-cloak
  x-data="{ hideGate: $persist(false) }"
  x-show="!hideGate"
  class="bg-white inset-0 absolute z-20"
>
  <button @click="hideGate = true" class="bg-primary p-3">OPEN GATE!</button>
</div>
