---
import { languages } from '@/i18n/ui'
import { getLangFromUrl } from '@/i18n/utils'

const currentUrl = Astro.url
const currentLang = getLangFromUrl(currentUrl)
const restPath = currentUrl.pathname.split('/').slice(2).join('/')
---

<ul class="flex justify-end gap-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        {lang === currentLang ? (
          <strong>{lang.toUpperCase()}</strong>
        ) : (
          <a href={`/${lang}/${restPath}`}>{lang.toUpperCase()}</a>
        )}
      </li>
    ))
  }
</ul>
