---
import type { GetArticleQueryResult } from '@/types/sanity.types'
import RichText from '@/components/portable-text/RichText.astro'
import { locales } from '@/i18n/ui'

interface Props {
  article: GetArticleQueryResult
}

const languages = Object.keys(locales) as LangKeys[]
const { article } = Astro.props
if (!article) return Astro.redirect('/404')

/*
function textSize(index: Number) {
  if (index === 0) return 'text-lg'
  if (index === 1) return 'text-xl'
  return 'text-2xl'
}
  */
---

<div
  class="max-w-7xl mx-auto p-8 mt-16 bg-white rounded-lg border border-slate-300"
>
  <div
    class="grid gap-x-8"
    :class="languages.length === 1 ? 'grid-cols-1' : 'grid-cols-2'"
  >
    {
      languages.map((lang) => (
        // https://www.joshwcomeau.com/css/subgrid/#reserving-space-for-the-subgrid-4 -->
        <article
          x-show={`languages.includes('${lang}')`}
          class="row-span-20 grid grid-rows-subgrid"
        >
          <h2 class="font-semibold mb-2">
            Art. {article.number} {article.name[lang]}
          </h2>
          <RichText blocks={article.law[lang]} />
          <RichText blocks={article?.exp?.[lang] ?? []} />
        </article>
      ))
    }
  </div>
</div>
