---
import { locales } from '@/i18n/utils'

import { getLocaleUrl } from 'astro-i18n-aut'

const currentLang = Astro.currentLocale
---

<ul class="flex justify-end gap-2">
  {
    Object.entries(locales).map(([lang]) => (
      <li>
        {lang === currentLang ? (
          <strong>{lang.toUpperCase()}</strong>
        ) : (
          <a href={getLocaleUrl(Astro.url.pathname, lang)}>
            {lang.toUpperCase()}
          </a>
        )}
      </li>
    ))
  }
</ul>
