---
import { locales } from '@/i18n/utils'
import { getLocaleUrl, getLocale } from 'astro-i18n-aut'
import NavDropDown from './NavDropDown.astro'
const locale = getLocale(Astro.url) as LangKeys

const langs = { de: 'Deutsch', fr: 'Français' }

const links = Object.entries(locales)
  .map(([lang]) => ({
    name: langs[lang as LangKeys],
    path: getLocaleUrl(Astro.url, lang),
  }))
  .filter((link) => !link.path.includes(`/${locale}/`))
---

<div class="flex items-center">
  <NavDropDown name={langs[locale]} links={links} select={true} />
</div>
