---
import { getLocaleUrl, getLocale } from 'astro-i18n-aut'
const locale = getLocale(Astro.url)

const pathname = Astro.url.pathname

const { text = 'TEXT', slug = '/' } = Astro.props

const path = `/${slug}`
---

<a
  href={getLocaleUrl(path, locale)}
  class={`text-sm font-medium transition-colors duration-200 hover:text-primary ${
    pathname === path
      ? 'text-primary font-semibold border-b-2 border-primary pb-0.5'
      : 'text-slate-700 hover:underline'
  }`}
>
  {text}
</a>
