---
import LanguagePicker from './LanguagePicker.astro'
import NavDropDown from './NavDropDown.astro'
import { useTranslations } from '@/i18n/utils'
import { getLocale } from 'astro-i18n-aut'
import Link from './Link.astro'

const locale = getLocale(Astro.url) as LangKeys

const t = useTranslations(locale)

const mainNav = [
  {
    name: t('nav.articles'),
    path: 'art',
  },
  {
    name: t('nav.titles'),
    path: 't',
  },
  {
    name: t('nav.appendices'),
    path: 'a',
  },
  { name: t('nav.faq'), path: 'faq' },
  /*   { name: t('nav.app'), path: 'app' }, */
]
---

<header class="border-b border-slate-200">
  <div
    class="mx-auto flex flex-col gap-y-4 md:flex-row max-w-7xl items-center justify-between px-6 py-6"
  >
    <a
      href={`/`}
      class="text-xl font-bold tracking-tight text-slate-900 transition-colors duration-200 hover:text-primary"
    >
      {t('nav.brand')}
    </a>

    <nav class="flex items-center justify-center gap-x-8">
      {mainNav.map((item) => <Link text={item.name} slug={item.path} />)}
    </nav>

    <div class="flex items-center">
      <LanguagePicker />
    </div>
  </div>
</header>
