---
import { getNav } from '../utils/sanity'

const nav = await getNav()
---

<aside class="sticky top-0">
  <nav class="px-3 py-6 bg-slate-900 text-white">
    <ul class="space-y-2 font-medium">
      {
        nav.map((item: any) => (
          <li class="flex items-center p-2 text-gray-900 dark:text-white">
            <details>
              <summary class="text-sm">
                {item.number}
                {item.name.de}
              </summary>
              <ul class="text-xs ms-4">
                <li>Art. 1 Nachweis</li>
                <li>Art. 2 Nachweis</li>
                <li>Art. 3 Nachweis</li>
                <li>Art. 4 Nachweis</li>
              </ul>
            </details>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
