---
import { getLangFromUrl } from '@/i18n/utils'
import LanguagePicker from './LanguagePicker.astro'

const mainNav = [
  { text: 'Titel', link: 'titel' },
  { text: 'Anhänge', link: 'anhange' },
  { text: 'Verzechnisse', link: 'verzechnisse' },
  { text: 'Gesamtwerk', link: 'gesamtwerk' },
]

const pathname = Astro.url.pathname
const currentLang = getLangFromUrl(Astro.url)
---

<header class="border-b-2 border-primary">
  <div class="mx-4 grid grid-cols-3 items-baseline py-5">
    <a href="/" class="text-2xl font-semibold hover:underline"
      >Digitale BSV 2026</a
    >
    <nav
      class="flex justify-center gap-x-6 text-lg font-semibold decoration-accent decoration-4"
    >
      {
        mainNav.map((item) => (
          <a
            href={`/${currentLang}/${item.link}/`}
            class={
              'hover:underline ' + (pathname.includes(item.link) && 'underline')
            }
          >
            {item.text}
          </a>
        ))
      }
    </nav>

    <div class="text-right">
      <LanguagePicker />
    </div>
  </div>
</header>
