---
import LanguagePicker from './LanguagePicker.astro'
import NavDropDown from './NavDropDown.astro'
import { useTranslations } from '@/i18n/utils'
import { getLocale } from 'astro-i18n-aut'
import Link from './Link.astro'

const locale = getLocale(Astro.url) as LangKeys

const t = useTranslations(locale)

const mainNav = [
  {
    name: t('nav.titles'),
    path: 't',
  },
  {
    name: t('nav.articles'),
    path: 'art',
  },
  {
    name: t('nav.appendices'),
    path: 'a',
  },

  {
    name: t('nav.toc'),
    path: 'toc',
  },
  { name: t('nav.faq'), path: 'anfragen' },
  { name: t('nav.all'), path: `gesamtwerk` },
]
---

<header class="border-b-2 border-primary">
  <div class="mx-4 flex items-baseline justify-between py-5">
    <a href={`/`} class="text-2xl font-semibold hover:underline"
      >{t('nav.brand')}</a
    >

    <nav
      class="flex items-center justify-center gap-x-6 text-lg font-semibold decoration-accent decoration-4"
    >
      {mainNav.map((item) => <Link text={item.name} slug={item.path} />)}
    </nav>

    <div class="text-right">
      <LanguagePicker />
    </div>
  </div>
</header>
