<div class="sticky top-0 p-4 flex justify-between bg-gray-100">
  <div class="flex gap-x-4">
    <span>Erläuterungen:</span>
    <div>
      <input
        type="radio"
        value="show"
        x-model="exp"
        name="show"
        class="accent-violet-800"
      />
      <label for="show">anzeigen</label>
    </div>
    <div>
      <input
        type="radio"
        value="toggle"
        x-model="exp"
        name="toggle"
        class="accent-violet-800"
      />
      <label for="toggle">umschalten</label>
    </div>
    <div>
      <input
        type="radio"
        value="hide"
        x-model="exp"
        name="hide"
        class="accent-violet-800"
      />
      <label for="hide">ausblenden</label>
    </div>
  </div>
  <div class="flex gap-x-4 justify-end">
    <div>
      <input
        type="checkbox"
        value="de"
        x-model="languages"
        name="german"
        class="accent-violet-800"
      />
      <label for="german">Deutsch</label>
    </div>
    <div>
      <input
        type="checkbox"
        value="fr"
        x-model="languages"
        name="french"
        class="accent-violet-800"
      />
      <label for="french">Französisch</label>
    </div>
    <div>
      <input
        type="checkbox"
        value="it"
        x-model="languages"
        name="italian"
        class="accent-violet-800"
      />
      <label for="italian">Italienisch</label>
    </div>
  </div>
</div>
