---
import Article from '@/components/Article.astro'
import Toolbar from '@/components/Toolbar.astro'
import Layout from '@/layouts/Layout.astro'
import { getArticles } from '@/sanity/queries'
import SideNav from '@/components/SideNav.astro'

import { staticLocalePaths } from '@/i18n/utils'

export function getStaticPaths() {
  return staticLocalePaths()
}

const articles = await getArticles()
---

<Layout title="Gesamtwerk">
  <div class="c-grid-wrapper">
    <div class="c-sidenav">
      <SideNav />
    </div>
    <div x-data="$store.toolbar" class="c-main mb-24">
      <Toolbar />
      <section class="mx-auto max-w-7xl">
        {articles.map((article) => <Article article={article} />)}
      </section>
    </div>
  </div>
</Layout>

<style>
  .c-grid-wrapper {
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-areas: 'sidenav main';
  }

  .c-main {
    grid-area: 'main';
  }

  .c-sidenav {
    grid-area: 'sidenav';
  }
</style>
