---
import type { InferGetStaticParamsType } from 'astro'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  return [
    // { params: { /* required */ }, props: { /* optional */ } },
    { params: { lang: 'de', slug: 'titel' } }, // [post] is the parameter
    { params: { lang: 'fr', slug: 'titres' } }, // must match the file name
    // ...
  ]
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { lang } = Astro.params as Params
---

<Layout title="Startseite">
  <div class="mt-32 grid place-content-center">
    <h1 class="mb-8 text-center text-5xl font-semibold text-slate-800">
      Digitale Schweizerische <br /> Brandschutzvorschriften 2026 {lang}
    </h1>
  </div>
</Layout>
