---
import '@/styles/global.css'

import NavBar from '@/components/NavBar.astro'

import { getLocale } from 'astro-i18n-aut'
import { locales } from '@/i18n/utils'

interface Props {
  title: string
}

const lang = getLocale(Astro.url) as LangKeys
const locale = locales[lang]

const { title } = Astro.props
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} – BSV 2026</title>
  </head>
  <body>
    <!--     <Gate /> -->
    <NavBar />
    <div>
      <main>
        <slot />
      </main>
    </div>
    <!--    <footer>FOOTER</footer> -->
  </body>
</html>
