---
import Layout from '@/layouts/Layout.astro'

interface Props {
  title: string
  tabTitel?: string
}

const { title, tabTitel = title } = Astro.props
---

<Layout title={tabTitel}>
  <div class="mt-12 mb-32">
    <h1 class="text-center font-serif text-3xl">{title}</h1>
    <div class="mx-auto mt-8 max-w-3xl">
      <slot />
    </div>
  </div>
</Layout>
